:root {
  --web-color: lightblue;
  --prog-color: lightgreen;
  --design-color: lightcoral;
  --three-d-color: plum;
  --border-color: lightgray;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #262626;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.center {
  height: 100vh;
  width: 98%;
  padding-top: 1%;
  margin: auto;
  position: relative;
}

section {
   background-color: #1f1f1f;
   color: white;
}

p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
}

.accueil h1, h2, h3 {
  margin-top: 0;
}

nav {
  width: 30vw;
  height: auto;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.navigation {
  height: auto;
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: inherit;
}

.col {
  flex-direction: column;
  justify-content: center;
}
/* -- BOUTTON -- */
a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

a:visited {
  color: white;
}

.boutton {
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: #08254b;
  border: 3px solid var(--border-color);
  transition: background-color 0.5s, box-shadow 0.5s;
}

.boutton:hover {
  background-color: #1d5697;
  box-shadow: 0 4px 8px 0 rgba(43, 183, 164, 0.9);
}

.boutton[data-filter="web"]:hover, .web:hover {
  box-shadow: 0 4px 8px 0 var(--web-color);
}

.boutton[data-filter="prog"]:hover, .prog:hover {
  box-shadow: 0 4px 8px 0 var(--prog-color);
}

.boutton[data-filter="design"]:hover, .design:hover {
  box-shadow: 0 4px 8px 0 var(--design-color);
}

.boutton[data-filter="three-d"]:hover, .three-d:hover {
  box-shadow: 0 4px 8px 0 var(--three-d-color);
}

.active {
  background-color: #1d5697;
  border: 3px solid rgba(43, 183, 164, 0.9);
}

.container .boutton {
  margin-top: 1rem;
}
/* ------------- */

/* -- ACCUEIL --*/
.accueil {
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, rgba(181,244,251,1) 0%, rgba(19,178,212,1) 49%, rgba(38,38,38,1) 100%);
}

.titre {
  margin: auto;
  text-align: center;
}

.titre h1 {
  margin: auto;
  font-size: 6rem;
}

.titre h2 {
  font-size: 3rem;
}

.categorie {
  position: absolute;
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.7rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2a3d49;
  border: 3px solid var(--border-color);
  z-index: 50;
}

.bloc {
  display: block;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume {
  margin-top: 1rem;
  padding: 1rem;
  width: 40vw;
  font-size: 1.2rem;
}

.perso {
  width: 20vw;
}
/* -------------*/

/* -- PRESENTATION -- */
.character {
  margin-top: rem;
}

.card {
  background-color: darkcyan;
  padding: 1rem;
  border-radius: 5px;
  width: 20vw;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
  perspective: 1000px;
}

.card img {
  width: 50%;
}

.quetes {
  height: auto;
}

.parcours {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.etape {
    width: 32vw;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    border: 2px solid var(--border-color);
}

.name {
  background-color: #2a3d49;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  padding: 5px 5px;
}

.grow {
  flex-grow: 1;
}

.competences {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.slot {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.square {
  background-color: #868686;
  width: 8.5vw;
  height: 8.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square img {
  width: 90%;
}

.hide {
  display: none;
}
/* ------------------ */

/* -- PROJETS -- */
.web {
  border: 3px solid var(--web-color);
  transition: box-shadow 0.5s;
}

.prog {
  border: 3px solid var(--prog-color);
  transition: box-shadow 0.5s;
}

.design {
  border: 3px solid var(--design-color);
  transition: box-shadow 0.5s;
}

.three-d {
  border: 3px solid var(--three-d-color);
  transition: box-shadow 0.5s;
}

.presproj {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projet {
  width: 30vw;
  height: 30vw;
  background-color: #868686;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filters {
  width: 600px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.inventaire {
  height: auto;
  background-color: #1f1f1f;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inventaire > a {
  padding: 0;
}

.inventaire .projet {
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projet:hover .overlay {
  opacity: 1;
}

.projet img {
  width: 95%;
  border-radius: 5%;
}

.modal {
  height: 95vh;
  display: block;
  position: fixed;
  z-index: 200;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: .5s ease;
  padding: 15px;
  overflow: auto;
}

.modal.open {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal img {
  width: 100%;
}

.modal-overlay {
  position: fixed;
  z-index: 100;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}

.composants {
  display: flex;
  align-items: center;
}

.composants i {
  font-size: 2.5rem;
}
/* ------------- */

/* -- Commu -- */
#network {
  width: 100%;
}


.close {
  padding: 0.2rem;
  border-radius: 15%;
  background-color: #686868;
  position: fixed;
  cursor: pointer;
  right: 1%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  font-size: 2rem;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.close:hover {
    background-color: red;
    box-shadow: 0 4px 8px 0 red ;
}

.close-popup {
  top: 15px;
  width: 20px;
  height: 20px;
  font-size: 1rem;
}
/* ----------- */

/* -- EFFECT -- */
.floating {
  animation: float 3s ease-in-out infinite;
}

.floating-inverse {
    animation: float-inverse 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px)
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-inverse {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-20px);
  }
}
/* ------------ */
@media (max-width: 900px) {
  .height {
    height: auto;
  }

  .card {
    width: 45vw;
  }

  .perso {
    width: 30vw;
  }

  .square {
    width: 16vw;
    height: 16vw;
  }

  .presproj .projet {
    width: 30vw;
    height: 30vw;
  }

  .projet {
    width: 45vw;
    height: 45vw;
  }
}

@media (max-width: 576px) {
  nav {
    width: 100vw;
  }

  .resume {
    width: 90vw;
    font-size: 1rem;
  }

  .perso {
    width: 20vw;
  }

  .filters {
    width: 100%;
    height: 110px;
    flex-wrap: wrap;
    align-items: center;
  }

  .square {
    width: 20vw;
    height: 20vw;
  }

  .etape {
    width: 85vw;
  }

  .presproj .projet {
    width: 35vw;
    height: 35vw;
  }

  .projet {
    width: 85vw;
    height: 85vw;
  }

  .container {
    flex-direction: column;
    justify-content: center;
  }
}